@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #31c6ae;
  --secondary-color: #00a887;
}

.main {
  /* background-image: url("/images/main-bg.png"); */
  height: 100vh;
  width: 100%;
  padding: 1rem 3rem;
}

.flex-1 {
  flex: 1;
}

/* header css start */

.header-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.header-list-item {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header-login-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: 0px;
  padding: 8px 30px;
  border-radius: 6px;
}
/* responsive header start  */
@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    height: 0vh;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .main {
    height: 0vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    height: 0vh;
  }
}

/* header css end */

/* banner css start */

.banner {
  display: flex;
  margin-top: 6rem;
}

.banner-title {
  font-weight: bold;
  font-size: 4rem;
}

.banner-title span {
  color: var(--primary-color);
}

/* banner css end */

/* categories css start */

.categories {
  padding: 1rem;
}

.categories .row {
  justify-content: space-evenly;
}

.categories .card {
  margin-top: 5vh;
  padding: 1rem;
  height: 120px;
  box-shadow: 0px 0px 24px 12px #f1f1f1;
  border: 0px;
  justify-content: space-between;
}

.categories .card-icon {
  width: 30px;
}

.categories-content {
  display: flex;
  justify-content: space-between;
}

/* categories css end */

/* responsive banner and categories start */
@media (min-width: 768px) and (max-width: 1024px) {
  .banner-title {
    font-weight: bold;
    font-size: 3rem;
  }

  .banner-img {
    height: 35vh;
  }
  .categories .card {
    width: 200px;
    margin-left: 23vh;
    display: flex;
    flex-direction: column;
    margin-bottom: v1h;
  }
  .categories-title {
    font-size: 1.8vh;
  }
  .card-icon {
    height: 4vh;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .banner-title {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-top: 3vh;
  }
  .banner-img {
    height: 30vh;
  }
  .categories .card {
    width: 120px;
    margin-bottom: 2vh;
    margin-left: 2vh;
  }
  .categories-title {
    font-size: 1vh;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .categories .row {
    margin-left: 11vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .banner-title {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 3vh;
    transform: translateX(1vh);
  }
  .banner-img {
    height: 35vh;
  }
  .categories .card {
    width: 120px;
    margin-bottom: 2vh;
  }
  .categories-title {
    font-size: 1.8vh;
  }

  .banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .categories .row {
    margin-left: 8.5vh;
  }
}
/* responsive banner and categories end */

/* feed strat */
.braket {
  color: red;
}
.feed-sec {
  margin-top: 25vh;
}
.feed-title {
  font-weight: bold;
}
.feed-dec {
  font-size: 2.5vh;
  color: gray;
  line-height: 4vh;
  margin-top: 3vh;
}

.Browse-btn {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: #fff;
  padding: 8px 25px;
  border-radius: 6px;
  margin-top: 1vh;
}
/* feed end  */
/* lifestyle-sec start */
.lifestyle {
  margin-top: -20vh;
}
.lifestyle-sec {
  margin-top: 35vh;
  transform: translateX(20vh);
}
.lifestyle-title {
  font-weight: bold;
}
.lifestyle-dec {
  font-size: 2.5vh;
  color: gray;
  line-height: 4vh;
  margin-top: 3vh;
}
.lifestyle-dec-img {
  transform: translateX(-20vh);
}
/* lifestyle-sec end */

/* courses strat */
.courses-dec-img {
  margin-left: -15vh;
}
.courses-sec {
  margin-top: 25vh;
}
/* courses end */
/* responsive feed, lifestyle and courses start */
@media (min-width: 768px) and (max-width: 1024px) {
  .braket {
    color: red;
  }
  .feed-sec {
    margin-top: 0vh;
    text-align: center;
  }
  .feed-img {
    margin-top: 130vh;
    margin-left: 8vh;
  }
  .feed-title {
    font-weight: bold;
  }
  .feed-dec {
    font-size: 2.5vh;
    color: gray;
    line-height: 4vh;
    margin-top: 3vh;
  }
  .Browse-btn {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: #fff;
    padding: 8px 25px;
    border-radius: 6px;
    margin-top: 1vh;
  }
  /* feed end  */
  /* lifestyle-sec start */
  .lifestyle {
    margin-top: 20vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .lifestyle-sec {
    margin-top: 1vh;
    transform: translateY(-15vh);
    text-align: center;
  }
  .lifestyle-title {
    font-weight: bold;
  }
  .lifestyle-dec {
    font-size: 2.5vh;
    color: gray;
    line-height: 4vh;
    margin-top: 3vh;
  }
  .lifestyle-dec-img {
    transform: translateY(-20vh);
    margin-left: 1vh;
    width: 60vh;
    object-fit: cover;
  }
  /* lifestyle-sec end */

  /* courses strat */
  .courses-dec-img {
    margin-left: 8vh;
    width: 60vh;
    object-fit: cover;
  }
  .courses-sec {
    margin-top: 0vh;
    text-align: center;
  }
  .courses-dec {
    margin-top: -5vh;
  }
  .Browse-btn {
    font-size: 2vh;
  }
  /* courses end */
}
@media (min-width: 400px) and (max-width: 767px) {
  .braket {
    color: red;
  }
  .feed-sec {
    margin-top: -5vh;
    text-align: center;
  }
  .feed-img {
    margin-top: 170vh;
    margin-left: 0vh;
    width: 55vh;
    object-fit: cover;
  }
  .feed-title {
    font-weight: bold;
  }
  .feed-dec {
    font-size: 2vh;
    color: gray;
    line-height: 4vh;
    margin-top: 3vh;
  }
  .Browse-btn {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: #fff;
    padding: 8px 25px;
    border-radius: 6px;
    margin-top: 1vh;
  }
  /* feed end  */
  /* lifestyle-sec start */
  .lifestyle {
    margin-top: 20vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .lifestyle-sec {
    margin-top: 1vh;
    transform: translateY(-15vh);
    text-align: center;
  }
  .lifestyle-title {
    font-weight: bold;
  }
  .lifestyle-dec {
    font-size: 2vh;
    color: gray;
    line-height: 4vh;
    margin-top: 3vh;
  }
  .lifestyle-dec-img {
    transform: translateY(-20vh);
    margin-left: -5vh;
    width: 55vh;
    object-fit: cover;
  }
  /* lifestyle-sec end */

  /* courses strat */
  .courses-dec-img {
    margin-left: 0vh;
    width: 50vh;
    object-fit: cover;
  }
  .courses-sec {
    margin-top: 0vh;
    text-align: center;
  }
  .courses-dec {
    margin-top: -5vh;
  }
  .Browse-btn {
    font-size: 2vh;
  }
  /* courses end */
}
@media (min-width: 320px) and (max-width: 480px) {
  .braket {
    color: red;
  }
  .feed-sec {
    margin-top: -5vh;
    text-align: center;
  }
  .feed-img {
    margin-top: 200vh;
    margin-left: 0vh;
    width: 55vh;
    object-fit: cover;
  }
  .feed-title {
    font-weight: bold;
  }
  .feed-dec {
    font-size: 2vh;
    color: gray;
    line-height: 4vh;
    margin-top: 3vh;
  }
  .Browse-btn {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: #fff;
    padding: 8px 25px;
    border-radius: 6px;
    margin-top: 1vh;
  }
  /* feed end  */
  /* lifestyle-sec start */
  .lifestyle {
    margin-top: 20vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .lifestyle-sec {
    margin-top: 1vh;
    transform: translateY(-15vh);
    text-align: center;
  }
  .lifestyle-title {
    font-weight: bold;
  }
  .lifestyle-dec {
    font-size: 2vh;
    color: gray;
    line-height: 4vh;
    margin-top: 3vh;
  }
  .lifestyle-dec-img {
    transform: translateY(-20vh);
    margin-left: -5vh;
    width: 55vh;
    object-fit: cover;
  }
  /* lifestyle-sec end */

  /* courses strat */
  .courses-dec-img {
    margin-left: 2vh;
    width: 50vh;
    object-fit: cover;
  }
  .courses-sec {
    margin-top: 0vh;
    text-align: center;
  }
  .courses-dec {
    margin-top: -5vh;
  }
  .Browse-btn {
    font-size: 2vh;
  }
  /* courses end */
}
/* responsive feed, lifestyle and courses end */

/* experts sec start */
.experts-section {
  background-color: rgb(221, 247, 238);
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.experts-heading {
  text-align: center;
  font-size: 6vh;
  font-weight: bold;
  margin-bottom: 5vh;
}
.rating-sec h3 {
  display: inline;
  transform: translateY(5vh);
}
.card {
  border-color: transparent;
}
.card-group {
  width: 170vh;
  margin-left: 10vh;
}
#first-body {
  margin-left: 15vh;
}
#second-body {
  margin-left: 15vh;
}
#third-body {
  margin-left: 15vh;
}
.card-img-top {
  width: 36vh;
  margin-left: 3vh;
  margin-right: 2vh;
  margin-top: 2vh;
}
/* experts sec end */

/* respnsive experts section star */
@media (min-width: 768px) and (max-width: 1024px) {
  .experts-section {
    margin-top: 5vh;
    padding-bottom: 3vh;
  }
  .card-group {
    display: flex;
    flex-direction: column;
  }
  .card-group {
    width: 0vh;
    margin-left: 3vh;
  }
  #first-body {
    margin-top: 5vh;
  }
  #second-body {
    margin-top: 5vh;
  }
  #third-body {
    margin-top: 5vh;
  }
  .experts-heading {
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    transform: translateY(5vh);
  }
  .card-img-top {
    width: 36vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .experts-section {
    margin-top: 5vh;
  }
  #first-body {
    transform: translateX(2vh);
  }
  #second-body {
    transform: translateX(2vh);
  }
  #third-body {
    transform: translateX(2vh);
  }
  .card-img-top {
    width: 35vh;
  }
  .card-group {
    width: 300px;
  }
  .card-img-top {
    max-width: 88%;
    transform: translateX(-2vh);
    margin-top: 2vh;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .experts-section {
    margin-top: 5vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
  }
  .experts-heading {
    font-size: 3vh;
  }
  #first-body {
    margin-left: 0vh;
  }
  #second-body {
    margin-left: 0vh;
  }
  #third-body {
    margin-left: 0vh;
  }
  .card-img-top {
    width: 35vh;
  }
  .card-group {
    width: 250px;
  }
  .card-img-top {
    width: 30vh;
    margin-left: 4vh;
    margin-right: vh;
    margin-top: 2vh;
  }
}
/* respnsive experts section end */

/* finance-section start  */
.finance-section {
  margin-top: 20vh;
}
.finance-dec {
  margin-top: 20vh;
  margin-left: 5vh;
}
.finance-text {
  color: gray;
  font-size: 3vh;
  margin-top: 2vh;
}
.money-transfer-sec {
  margin-top: 2vh;
  padding: 1rem;
  height: 200px;
  width: 280px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
}
.investment-sec {
  margin-top: 2vh;
  padding: 1rem;
  height: 200px;
  width: 280px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-left: 8vh;
}
.banking-sec {
  margin-top: 2vh;
  padding: 1rem;
  height: 200px;
  width: 280px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-left: 8vh;
}
.insurance-sec {
  margin-top: 2vh;
  padding: 1rem;
  height: 200px;
  width: 280px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-left: 8vh;
}
#money-transfer-title {
  margin-top: 2vh;
}
#banking {
  margin-left: 91vh;
  transform: translateY(-15vh);
}
#insurance {
  transform: translateY(-15vh);
}
.group-img {
  margin-top: -2vh;
}
/* finance-section end */
/* responsive finance-section start */
@media (min-width: 768px) and (max-width: 1024px) {
  .finance-dec {
    margin-top: -10vh;
    margin-left: 0vh;
  }
  .finance-title {
    font-size: 3vh;
    text-align: center;
  }
  .finance-text {
    font-size: 2.5vh;
    text-align: center;
  }
  .money-transfer-sec {
    margin-left: 6vh;
  }

  #banking {
    margin-left: 0vh;
    transform: translateY(0vh);
    margin-left: 6vh;
  }
  #insurance {
    transform: translateY(0vh);
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .finance-dec {
    margin-top: -10vh;
    margin-left: 0vh;
  }

  h1.finance-title {
    font-size: 3vh;
  }
  .finance-text {
    font-size: 2vh;
    text-align: center;
  }
  .money-transfer-sec {
    transform: translateX(3vh);
  }
  .investment-sec {
    transform: translateX(3vh);
  }

  div#banking {
    transform: translateX(3vh);
  }

  div#insurance {
    transform: translateX(3vh);
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .finance-dec {
    margin-top: -10vh;
    margin-left: 0vh;
  }
  .finance-title {
    font-size: 2vh;
    text-align: center;
  }
  .finance-text {
    font-size: 2vh;
    text-align: center;
  }
  .money-transfer-sec {
    margin-left: 7vh;
  }
  .investment-sec {
    margin-left: 7vh;
  }
  #banking {
    margin-left: 0vh;
    transform: translateY(0vh);
    margin-left: 7vh;
  }
  #insurance {
    transform: translateY(0vh);
    margin-left: 7vh;
  }
}
/* responsive finance-section end */

/* job-section start */
.job-section {
  margin-top: 5vh;
  background-color: rgb(245, 245, 245);
  padding-top: 3vh;
  padding-bottom: 5vh;
}
.job-title {
  text-align: center;
  margin-bottom: 5vh;
}
.job-dec {
  margin-left: 25vh;
}
.job-text {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 5vh;
}

#business-job-box {
  padding: 1rem;
  height: 180px;
  width: 240px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
}
#markting-job-box {
  padding: 1rem;
  height: 180px;
  width: 240px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-left: 3vh;
}
#experts-job-box {
  padding: 1rem;
  height: 180px;
  width: 240px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-left: 3vh;
}
#engineers-job-box {
  padding: 1rem;
  height: 180px;
  width: 240px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-left: 3vh;
}
#developer-job-box {
  padding: 1rem;
  height: 180px;
  width: 240px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-top: 3vh;
}
#interpreters-job-box {
  padding: 1rem;
  height: 180px;
  width: 240px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-left: 3vh;
  margin-top: 3vh;
  margin-top: 3vh;
}
#business-mark-job-box {
  padding: 1rem;
  height: 180px;
  width: 240px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-left: 3vh;
  margin-top: 3vh;
}
#finance-job-box {
  padding: 1rem;
  height: 180px;
  width: 240px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 2vh;
  margin-left: 3vh;
  margin-top: 3vh;
}
/* job-section end */

/* responsive job-section start */
@media (min-width: 768px) and (max-width: 1024px) {
  .job-title {
    margin-bottom: 5vh;
  }
  .job-dec {
    margin-left: 0vh;
  }

  .job-text {
    margin-top: 3vh;
  }
  #business-job-box {
    margin-left: 12vh;
  }
  #experts-job-box {
    margin-left: 12vh;
  }
  #engineers-job-box {
    margin-top: 3vh;
  }
  #developer-job-box {
    margin-left: 12vh;
  }

  #experts-job-box {
    margin-left: 12vh;
    margin-top: 3vh;
  }
  #business-mark-job-box {
    margin-left: 12vh;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .row.job-dec {
    margin-left: 8vh;
  }
  #business-job-box {
    margin-left: 3vh;
  }
  #markting-job-box {
    margin-top: 3vh;
  }
  #developer-job-box {
    margin-left: 3vh;
  }
  #experts-job-box {
    margin-top: 3vh;
  }
  #engineers-job-box {
    margin-top: 3vh;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .job-dec {
    margin-left: 5vh;
  }
  #business-job-box {
    margin-left: 3vh;
  }

  #markting-job-box {
    margin-top: 3vh;
  }
  #experts-job-box {
    margin-top: 3vh;
  }
  #engineers-job-box {
    margin-top: 3vh;
  }
  #developer-job-box {
    margin-left: 3vh;
  }
}
/* responsive job-section end */

/* app info start */
.app-inf-card {
  background-color: var(--secondary-color);
  height: 65vh;
  overflow: hidden;
}
.app-title {
  color: #fff;
  font-weight: bold;
  font-size: 7vh;
  line-height: 10vh;
}
.app-info-body {
  margin-top: 14vh;
}
.app-info-img {
  margin-left: 10vh;
}
.app-text {
  color: #fff;
}
/* responsive app info start */
@media (min-width: 768px) and (max-width: 1024px) {
  .app-inf-card {
    background-color: var(--secondary-color);
    height: 35vh;
    overflow: hidden;
  }
  .app-info-img {
    margin-left: 0vh;
  }
  .app-info-body {
    margin-left: -5vh;
  }
  .app-title {
    color: #fff;
    font-weight: bold;
    font-size: 4vh;
    line-height: 4vh;
  }
  .app-text {
    font-size: 15px;
    margin-top: 2vw;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .app-inf-card {
    background-color: var(--secondary-color);
    height: 90vh;
    overflow: hidden;
  }
  .app-info-img {
    margin-left: 0vh;
    transform: translateY(-7vh);
    margin-left: 2vh;
  }
  .app-info-body {
    margin-left: 0vh;
    transform: translateY(-32vh);
    text-align: center;
  }
  .app-title {
    color: #fff;
    font-weight: bold;
    font-size: 4vh;
    line-height: 5vh;
  }
  .app-text {
    font-size: 14px;
    margin-top: 2vw;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .app-inf-card {
    background-color: var(--secondary-color);
    height: 70vh;
    overflow: hidden;
  }
  .app-info-img {
    margin-left: 0vh;
    transform: translateY(-3vh);
    margin-left: 10vh;
    height: 60vh;
  }
  .app-info-body {
    margin-left: 0vh;
    transform: translateY(-28vh);
    text-align: center;
  }
  .app-title {
    color: #fff;
    font-weight: bold;
    font-size: 4vh;
    line-height: 5vh;
  }
  .app-text {
    font-size: 12px;
    margin-top: 2vw;
  }
}
/* responsive app info end */

/* download-link section start */
.download-section {
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.download-text {
  margin-top: 7vh;
}
.about-download h4 {
  font-weight: bold;
}
.about-download h5 {
  font-size: 18px;
}
.download-btn {
  padding: 8px 10px;
  background-color: var(--secondary-color);
  color: #fff;
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  margin-top: 2vh;
}
.download-btn img {
  color: #fff;
}
.icon-img {
  height: 5vh;
  width: 5vh;
  margin: 2vh;
}
/* download-link section end */
/* responsive download-link section start */
@media (min-width: 768px) and (max-width: 1024px) {
  .download-text {
    margin-top: 2vh;
    font-size: 14px;
    text-align: center;
  }
  .icon-img {
    height: 3vh;
    width: 3vh;
    margin: 2vh;
    margin-left: 5vh;
  }
  .about-download {
    text-align: center;
    margin-top: 2vh;
  }
  .download-btn {
    font-size: 2vh;
    text-align: center;
  }
  .btn-sec {
    text-align: center;
    margin-top: 2vh;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .download-text {
    margin-top: 2vh;
    font-size: 14px;
    text-align: center;
  }
  .icon-img {
    height: 3vh;
    width: 3vh;
    margin: 2vh;
    margin-left: 10vh;
  }
  .about-download {
    text-align: center;
    margin-top: 2vh;
  }
  .download-btn {
    font-size: 2vh;
    text-align: center;
  }
  .btn-sec {
    text-align: center;
    margin-top: 2vh;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .download-text {
    margin-top: 2vh;
    font-size: 14px;
    text-align: center;
  }
  .icon-img {
    height: 3vh;
    width: 3vh;
    margin: 2vh;
    margin-left: 10vh;
  }
  .about-download {
    text-align: center;
    margin-top: 2vh;
  }
  .download-btn {
    font-size: 2vh;
    text-align: center;
  }
  .btn-sec {
    text-align: center;
    margin-top: 2vh;
  }
}
/* responsive download-link section end */
/* footer section start */
footer {
  text-align: center;
  color: gray;
}
